.button-primary {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  gap: 14px;
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.4s ease;
}

.button-primary .icon {
  display: flex;
  align-items: center;
  transition: transform 0.4s ease;
  border-radius: 100%;
  padding: 10px;
}

.button-primary-dark {
  width: 202px;
  height: 54px;
  padding: 12px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 999px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: #fff;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.03em;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.button-primary-dark img {
  transition: transform 0.3s ease;
}

.button-primary-dark:hover {
  background-color: #1f2466;
  border-color: #1f2466;
}

.button-primary-dark:hover img {
  transform: rotate(45deg) scale(1.1);
}

.button-primary-light {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.button-primary-light .icon {
  background-color: var(--primary-color);
}

.button-primary-light::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 50%;
  z-index: -1;
  transform: translate(50%, -50%) scale(0);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hover States */
.button-primary-light:hover {
  color: #ffffff;
}

.button-primary-light:hover::before {
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(50%, -50%) scale(10);
}

.button-primary-light:hover .icon {
  transform: rotate(45deg);
}

.button-secondary {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: fit-content;
  gap: 14px;
  padding-bottom: 6px;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  opacity: 1;
  transition: gap 0.3s ease;
}

.button-secondary img {
  transition: transform 0.3s ease;
}

.button-secondary::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.button-secondary:hover {
  gap: 6px;
}

.button-secondary:hover img {
  transform: rotate(45deg) scale(1);
}

.button-secondary:hover::after {
  width: 2px;
}

.button-secondary-hover-line {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  background: transparent;
  border: none;
}
/* text-decoration */
/* TITLE */
.button-secondary-hover-line .button-title {
  position: relative;
  text-align: left;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0;
}

/* underline hidden by default */
.button-secondary-hover-line .button-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

/* arrow */
.button-secondary-hover-line img {
  transition: transform 0.3s ease;
}

/* ===== ACTIVE (from card hover) ===== */
.button-secondary-hover-line.is-active {
  gap: 6px;
}

.button-secondary-hover-line.is-active .button-title::after {
  width: 100%;
}

.button-secondary-hover-line.is-active img {
  transform: rotate(45deg);
}

/* color */
.button-secondary-black {
  color: black;
}

.button-secondary-black img {
  filter: invert(1);
}

.blog-card {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.blog-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 14px 35px rgba(0, 0, 0, 0.12);
}

/* Variants */
.button-secondary-white {
  color: white;
}

.button-secondary-black {
  color: black;
}

.button-secondary-black img {
  filter: invert(1);
}
.button-tertiary {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  gap: 14px;
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.4s ease;

  .icon {
    display: flex;
    align-items: center;
    transition: transform 0.4s ease;
    border-radius: 100%;
    padding: 8px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: -1;
    transform: translate(50%, -50%) scale(0);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover::before {
    transform: translate(50%, -50%) scale(10);
    transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover .icon {
    transform: rotate(45deg);
  }
}

@media (max-width: 767px) {
  .button-tertiary {
    display: flex !important; /* override inline-flex */
    width: 100% !important; /* full width */
    justify-content: center; /* center content */
  }
}

.button-tertiary-light {
  border: 2px solid white;
  color: white;

  img {
    filter: invert(1);
  }

  .icon {
    background-color: white;
  }

  &::before {
    background-color: white;
  }

  &:hover {
    color: black;
  }
}
.button-tertiary-dark {
  border: 2px solid black;
  color: black;

  .icon {
    background-color: black;
  }

  &::before {
    background-color: black;
  }

  &:hover {
    color: white;
  }
}

.section-button-secondary {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: fit-content;
  gap: 14px;
  padding-bottom: 6px;

  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;

  white-space: nowrap;
  cursor: pointer;
  opacity: 1;
  transition: gap 0.3s ease;
  color: black;
}

.section-button-secondary img {
  transition: transform 0.3s ease;
}

/* underline */
.section-button-secondary::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.section-button-secondary:hover {
  gap: 6px;
}

.section-button-secondary:hover img {
  transform: rotate(45deg) scale(1);
}

.section-button-secondary:hover::after {
  width: 2px;
}

.section-button-secondary-dark {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: fit-content;
  gap: 14px;
  padding-bottom: 6px;

  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;

  white-space: nowrap;
  cursor: pointer;
  opacity: 1;
  transition: gap 0.3s ease;
  color: black;
}

.section-button-secondary-dark img {
  transition: transform 0.3s ease;
  filter: invert(1);
}

/* underline */
.section-button-secondary-dark::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.section-button-secondary-dark:hover {
  gap: 6px;
}

.section-button-secondary-dark:hover img {
  transform: rotate(45deg) scale(1);
}

.section-button-secondary-dark:hover::after {
  width: 2px;
}

.gradient-card {
  width: 100%;
  border-radius: 5px;
  opacity: 1;
  background: linear-gradient(45deg, #a6c0fe 0%, #ffeaf6 100%);
  box-shadow: 0px -1px 10px -2px #00000024;
}

.paragraph-16 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 3%;
  color: #475467;
}
.button-package {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 16px;
  cursor: pointer;
  padding: 12px 40px;
  border-radius: 7px;
  white-space: nowrap;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
  transition: all 0.3s ease-in-out;
}

.button-package img {
  transition:
    transform 0.3s ease-in-out,
    filter 0.3s ease-in-out;
}

.button-package:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.button-package:hover img {
  transform: rotate(45deg) translateX(-4px);
}

/* Light Variant */
.button-package-light {
  border: 1px solid #2b317f;
  color: #2b317f;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
.button-package:hover img {
  transform: rotate(45deg) translateX(-4px) translateY(4px);
}

.button-package-light img {
  filter: invert(1);
}

.button-package-light:hover {
  background-color: #393f9c;
  color: white;
  border-color: white;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.button-package-light:hover img {
  filter: invert(0);
}

/* Dark Variant */
.button-package-dark {
  border: 1px solid #2b317f;
  background-color: #2b317f;
  color: white;
  transition: all 0.3s ease-in-out;
}

.button-package-dark:hover {
  background-color: #4e56c2;
  border-color: white;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
