@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

.font-outfit {
  font-family: "Outfit", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.font-caveat {
  font-family: "Caveat", cursive;
}
