.section-heading {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 48px;
  letter-spacing: -0.01em; /* -1% */
  text-transform: uppercase;

  span:first-child {
    color: var(--primary-color);
  }
  span:nth-child(2) {
    color: var(--secondary-color);
  }
}

.paragraph-20 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  font-size: 20px;
}
.paragraph-dark {
  color: #667085;
}
.paragraph-light {
  color: #ffffff;
}
.paragraph-18 {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 3%;
  color: #182230;
}
.paragraph-17 {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 2%;
  color: #475467;
}
.paragraph-16 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  font-size: 16px;
}

.footer-container {
  container-type: inline-size;
  container-name: footer;
}

.footer-outline-text {
  width: 100%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  font-weight: 900;
  text-transform: uppercase;
  opacity: 0.6;

  text-shadow: 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white,
    -1px -1px 0 white;
}

.footer-outline-text-light {
  color: black;
  font-size: clamp(40px, 20cqi, 460px);
}

.footer-outline-text-dark {
  color: white;
  font-size: clamp(40px, 24cqi, 480px);
}

.banner-heading {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: -2%;
  color: #ffffff;
  padding-bottom: 126px;
}
