:root {
  --primary-color: #2b317f;
  --secondary-color: #d0d5dd;
}
section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

@media (max-width: 767px) {
  section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media (max-width: 479px) {
  section {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
